* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(47,204,184);
    background: linear-gradient(217deg, rgba(47,204,184,1) 0%, rgba(9,121,120,0.7287289915966386) 51%, rgba(0,159,255,1) 100%);
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parteazuldoperfil {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 250px;
  background: rgb(47, 204, 184);
  background: linear-gradient(
    217deg,
    rgba(47, 204, 184, 1) 0%,
    rgba(9, 121, 120, 0.7287289915966386) 51%,
    rgba(0, 159, 255, 1) 100%
  );
}

.foto {
  width: 100px;
  height: 100px;
}
.fotodeperfil {
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 1;
}

.nomeidade {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  top: 400px;
  width: 300px;
  height: 190px;
}

.nomeidade h2,
p {
  padding: 5px;
}

.nomeidade p {
  color: gray;
}

.numeros {
  display: flex;
  text-align: center;
  justify-content: space-around;
  position: absolute;
  align-items: center;
  color: black;
  background-color: white;
  top: 590px;
  height: 90px;
  width: 300px;
  right: 570px;
  border-top: 1px solid gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.numeros  h1{
    font-size: 20px;

}

.numeros  p {
    font-size: 10px;
}